{% extends 'diary/base.html' %}

{% block content %}
<table class="table">
    <tr>
        <th>title</th>
        <td>{{day.title}}</td>
    </tr>
    <tr>
        <th>text</th>
        <td>{{day.text | linebreaksbr}}</td>
    </tr>
    <tr>
        <th>date</th>
        <td>{{day.date}}</td>
    </tr>
</table>
<h3>comments</h3>
<table class="table">
    <thead>
        <tr>
            <th>comment</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
    <tr>
        <td>{{comment.comment}}</td>
        <td>{{comment.date}}</td>
        
    </tr>
    {% endfor %}
    </tbody>
</table>

<form action='' method='POST'>
    {{form.as_p}}
    <button type='submit' class='btn btn-primary'>
        送信
    </button>
    {% csrf_token %}
</form>
{% endblock %}