{% extends 'diary/base.html' %}

{% block content %}
<table class='table'>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        
        {% for day in day_list %}
        <tr>
            <td>{{day.title}}</td>
            <td>{{day.date}}</td>
            <td><a href="{% url 'diary:edit' day.pk %}">更新</a></td>    
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}